/* @import url("./Norse-Bold.otf"); */
@font-face {
   font-family: "Norse-Bold";
   src: url("./Norse-Bold.otf");
}
*{
   /* font-family: Norse-Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   background-color: black;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   background-color: rgb(243, 243, 234);
   /* width: 65%; */
   height: 100vh;
   margin: 0;
   padding: 0;
}

.h-text{
   margin-left: 30px;
   margin-bottom: 30px;
   font-weight: bold;
}

.img-section{
   display: flex;
   justify-content: start;
   align-items: flex-start;
   flex-wrap: wrap;
   margin: 0px;
   width: 280px;
   height: 100vh;
}

.img img{
   height: 100vh;  
}
img{
   z-index: -1;
}
.img p{
   position: absolute;
   bottom: 0.5rem ;
   color: white;
   text-align: center;
   font-size: 10px;
   margin-left: 50px;
}

.img p a{
   color: white;
}

.logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color:rgba(0, 0, 0, 0.4);
   position: absolute;
   top: 7rem;
   width: 280px;
   height: 80px;
   z-index: 1;
}

.logo p{
   font-size: 60px;
   color: white;
   font-weight: bold;
   font-family: Norse-Bold, sans-serif;
}

.user-input{
   background-color: white;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
   width: 600px;
   margin: 0px;
   padding: 1px 5px 20px 30px; 
}
.user-input h4{
   font-size: 1.3rem;
   margin: 0;
   padding-top: 10px;
}

.input div{
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
   padding-right: 40px;
   padding-top: 10px;
   width: 200px;
}

.submit-button{
   margin: 30px; 
}
button{
   background-color: #404D00;
   border-radius: 5px;
   padding: 5px;
   width: 140px;
   height: 32px;
   border: none;
   box-shadow: 0px 1px 1px #222121;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.error{
   display:none;
   color: red;
   margin: 0; 
}
.error:invalid{
   display: block;
   color: red;
}
label{
   font-size: 0.8rem;
   font-weight: bold;
}
input{ 
   border: 2px solid #E5E7EB;
   /* box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3); */
   height: 22px;
   border-radius: 5px;
}

/* input:valid{
   border-color: green;
} */

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus {
   border: 1px solid blue;
   outline: none !important;
   box-shadow: 0 0 4px  #0000ff;
}
input[type="text"]:invalid, 
input[type="email"]:invalid, 
input[type="tel"]:invalid {
   border: 1px solid red;
}

input[type="password"]:focus{
   border: 1px solid red;
   outline: none !important;
}
