*{
   /* font-family: Norse-Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}
/* @font-face {
   font-family: "Norse-Bold";
   src: url("./Norse-Bold.otf");
} */
@import url("./Norse-Bold.otf");
/* html{
   height: 100%;
} */

body{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   /* background-color: black; */
   
}
.container{
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   background-color: rgb(243, 243, 234);
   /* width: 65%; */
   height: 100vh;
   margin: 0;
   padding: 0;
}
.h-text{
   margin-left: 30px;
   margin-bottom: 30px;
   font-weight: bold;
}
.img-section{
   display: flex;
   justify-content: start;
   align-items: flex-start;
   flex-wrap: wrap;
   margin: 0px;
   width: 280px;
   height: 100vh;

   /* width: 300px; */
   /* height: 400px; */
   /* background-image:url("./images/lexi-laginess-amTPFVMfIt0-unsplash.jpg"); */
}
.img img{
   height: 100vh;
   
}
img{
   /* position: relative; */
   z-index: -1;
}
.logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color:rgba(0, 0, 0, 0.4);
   /* background: transparent(20 5 10 2); */
   /* opacity: 0.4; */
   position: absolute;
   top: 7rem;
   width: 280px;
   height: 80px;
   z-index: 1;

}
.logo p{
   font-size: 40px;
   color: white;
   font-weight: bold;

}
/* .main-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: azure; 
   
}*/
.user-input{
   background-color: white;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
   width: 600px;
   margin: 0px;
   padding: 1px 5px 20px 30px;
   
}

.input div{
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
   padding-right: 40px;
   padding-top: 10px;
   width: 200px;

}
input{
   border: 0;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
   height: 22px;
   border-radius: 5px;
}
label{
   /* display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: start; */
   /* margin: 5px; */
}
.submit-button{
   margin: 30px; 
}
button{
   background-color: #404D00;
   border-radius: 5px;
   padding: 5px;
   width: 140px;
   height: 32px;
   border: none;
   box-shadow: 0px 1px 1px #222121;
   color: white;
   font-weight: bold;
}
.help{
   display: none;
   
}
/* input:valid{
   border-color: green;
} */
input:invalid{
   border: 2px;
   border-color: red;
}
input:focus{
   /* border: 2px solid blue;
   border-color: #0000ff; */
   outline: none !important;
   box-shadow: 0 0 4px  #0000ff;
}

.help:invalid{
   display: block;
   color: red;
}
.invalid .help{
   display: block;
   color: red;
}